/*start page about us*/
.breadcrumb-holder
{
	background-color:#eee;
	margin-bottom:0px;
}
.breadcrumb
{
	background-color:#eee;
	padding: 10px 0px;
	margin	: 0;
}
.about-us
{
	padding: 10px 0;
}
.about-us .h1
{
	font-weight:bold;
	font-size:70px;
	font-family:'Raleway' , sans-serif;
	letter-spacing:-3px; 
}
.about-us hr
{
	width: 70%;
	height: 3px; 
	background-color:brown;
}
.about-us .lead
{
	font-weight:bold;
	word-spacing:5px;
	font-size:25px; 
}

.about-features
{
	padding: 50px 70px;
}
.about-features h3
{
	font-size:30px;
	font-weight:bold;
	font-family:'Raleway' , sans-serif; 
}
.about-features p
{
	font-size:15px;
	font-weight:bold;
	font-family:'Raleway' , sans-serif; 
	margin-bottom: 30px;
}
.about-ceo
{
	background: #eee;
	padding: 40px 0;
}
.about-ceo .h1
{
	font-size:35px;
	font-weight:bold;
	font-family:'Raleway' , sans-serif; 
}
.about-ceo p
{
	line-height:1.8; 
	font-weight:bold;
	font-family:'Raleway' , sans-serif;
}
.about-ceo .btn-primary
{
	background-color: #333;
	border-color: #333;
}
/*end page about us*/

/*start faq question*/
.faq
{
	padding: 40px 0;
}
.faq .h1
{
	font-family:'Raleway' , sans-serif;
	letter-spacing: -3px;
	font-size:65px;
	font-weight:bold; 
}
.faq p
{
	font-size:20px;
}
.faq-questions .panel-heading a:after
{
	font-family:'Glyphicons Halflings';	
	content: "\e114";
	float:right;
	color:#444;  
}
.faq-questions .panel-heading a.collapsed:after
{
	content: "\e080";
	color:#333; 
}


/*end faq question*/